table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.white {
    background: #deb887;
}

.black {
    background: #8b4513
}

tr:last-child td:first-child {
    border-left: none;
    border-bottom: none;
}